@font-face {
  font-family: "Furore";
  src: url("../public/font/Furore.otf"); }

@font-face {
  font-family: "Cantarell";
  src: url("../public/font/Cantarell-Regular.ttf"); }

body h1 {
  font-family: "Furore", sans-serif; }
